@charset "UTF-8";
div {
  margin-left: 15%;
  margin-right: 15%; }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100vh; }

.logo {
  width: 135px; }

main {
  padding-top: 10%; }

/* Menú navbar*/
header {
  background-color: #f9f4ea;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1; }

.menu {
  display: flex;
  justify-content: center;
  text-align: center; }

#btn-menu {
  display: none; }

header label {
  display: none;
  width: 128px;
  height: 128px; }

header label:hover {
  cursor: pointer; }

ul {
  list-style: none;
  display: flex; }

li {
  width: 100px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  background-color: #f9f4ea;
  margin: 20px; }

li a {
  text-decoration: none;
  background-color: #f9f4ea; }

a {
  color: #392b58 !important; }

ul ul {
  position: absolute;
  display: none; }

/* Contenido principal*/
.saludoBienvenida {
  display: flex;
  align-items: center; }
  .saludoBienvenida .yo {
    width: 40%; }

.presentacion {
  width: 60%;
  align-items: center;
  margin-right: 0;
  margin-left: 0; }

.presentacion p {
  margin-right: 0;
  margin-left: 0; }

.presentacion h1 {
  text-align: start; }

h1 {
  color: #392b58;
  margin-left: 15%; }

h2 {
  color: #9379ac;
  margin-left: 15%; }

/*Cards*/
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0; }

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: white;
  margin: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.container .card .sci li a button {
  color: white;
  font-size: 18px;
  background-color: #392b58;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  margin-top: 25px; }

/* Última parte */
.row {
  padding-bottom: 2%;
  margin-left: 0%;
  margin-right: 0% !important; }

.redes {
  padding-top: 30px; }

.logos {
  width: 5vh; }

.ultimo {
  background-color: #f9f4ea;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin: auto;
  padding-top: 30px;
  width: 100%; }

.ultimo .redes .logo img {
  width: 150%;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 10px; }

.secciones {
  color: #392b58;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  text-align: start; }
  .secciones ul li {
    font-size: 12px; }

.formulario {
  margin-bottom: 20px; }

.form-check-label {
  font-size: 11px; }

.ultimo .secciones a {
  text-decoration: none;
  font-size: 16px; }

footer {
  text-align: center;
  background-color: #392b58;
  padding-top: 8px;
  width: 100%; }

footer p {
  font-size: 13px;
  color: bisque; }

/*Trabajos*/
.trabajos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px; }

/*Sobre mi*/
.herramientas {
  padding-top: 20px;
  color: black;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%; }

/*Texto*/
section {
  font-style: normal;
  text-align: center; }

span {
  font-weight: bold; }

.saludoBienvenida p {
  text-align: left;
  padding-top: 25px;
  margin-left: 15%;
  margin-right: 15%; }

/*MEDIA QUERIES*/
/*Mobile*/
@media only screen and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0; }
  .logo {
    margin-left: 10%; }
  /*Menú*/
  header {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    z-index: 2; }
  .menu {
    width: 100%;
    height: 100px;
    position: absolute;
    margin-left: -150%; }
  #btn-menu:checked ~ .menu {
    margin-left: 0%;
    margin-top: 40%; }
  ul {
    flex-direction: column; }
  li {
    width: 100px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    background-color: #f9f4ea;
    margin: 10px; }
  header label {
    display: block; }
  ul {
    background-color: #f9f4ea;
    width: 100%;
    height: 180px; }
  /*Contenido principal*/
  main {
    padding-top: 25%; }
  main h1 {
    margin-top: 20px; }
  .saludoBienvenida {
    margin-top: 15px;
    display: inline-block;
    width: 100%; }
  .saludoBienvenida p {
    font-size: 10px; }
  .presentacion {
    width: 100%;
    font-size: 12px; }
  .yo {
    width: 70%; }
  h2 {
    font-size: 20px; }
  /*Cards*/
  .container .card .content {
    z-index: 1; }
  .container .card .content .imgBx {
    position: relative;
    width: 130px;
    height: 130px; }
  .container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .container .card .content .contentBx {
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-top: 50px; }
  .container .card .content .contentBx a {
    text-decoration: none;
    font-size: 20px;
    color: #392b58; }
  .container .card .sci {
    position: absolute;
    bottom: 70px;
    display: flex;
    padding-top: 50px;
    opacity: 0; }
  /*Trabajos*/
  .trabajos {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .trabajos__trabajo {
    width: 125%; }
  .trabajoRapport {
    display: inline-block;
    flex-direction: column;
    width: 30vh;
    height: auto; }
  /*Última parte*/
  .ultimo {
    display: inline-block; }
  .ultimo .redes .logo {
    margin-left: 20%; }
  .row {
    padding-bottom: 2%;
    margin-right: 0% !important; }
  .secciones {
    display: flex;
    padding-bottom: 100px;
    padding-left: 10vh; } }

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    padding-top: 15%;
    padding-bottom: 70px; }
  /*Menú*/
  header {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    z-index: 2; }
  .menu {
    width: 100%;
    height: 100px;
    position: absolute;
    margin-left: -150%; }
  #btn-menu:checked ~ .menu {
    margin-left: 0%;
    margin-top: 20%; }
  ul {
    flex-direction: column; }
  li {
    width: 100px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    background-color: #f9f4ea;
    margin: 10px; }
  header label {
    display: block; }
  ul {
    background-color: #f9f4ea;
    width: 100%;
    height: 180px; }
  /*Contenido principal*/
  .logo {
    margin-left: 15%; }
  .saludoBienvenida {
    font-size: 10px;
    display: inline-block; }
  /*Sobre mi*/
  .herramientas {
    padding-top: 30px; }
  /*Trabajos*/
  .trabajoRapport {
    display: inline-block;
    flex-direction: column;
    width: 50vh;
    height: auto; }
  /*Cards*/
  .container .card .content {
    z-index: 1; }
  .container .card .content .imgBx {
    position: relative;
    width: 130px;
    height: 130px; }
  .container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .container .card .content .contentBx {
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-top: 50px; }
  .container .card .content .contentBx a {
    text-decoration: none;
    font-size: 20px;
    color: #392b58; }
  .container .card .sci {
    position: absolute;
    bottom: 70px;
    display: flex;
    padding-top: 50px;
    opacity: 0; }
  /*Última parte*/
  .row {
    font-size: 10px;
    margin-right: 0% !important; }
  .ultimo {
    display: inline-block; }
  .ultimo .redes .logo {
    margin-left: 20%; }
  .secciones {
    display: flex;
    padding-bottom: 100px;
    padding-left: 10vh; } }

/*Desktop*/
@media only screen and (min-width: 1024px) {
  /*Menú*/
  header {
    background-color: #f9f4ea;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; }
  header ul ul li a {
    display: block;
    width: 100px;
    text-align: left; }
  ul {
    padding-left: 5px !important; }
  ul li:hover ul {
    display: block;
    color: #9379ac;
    background-color: #f9f4ea; }
  /*Cards*/
  .container .card:hover .content {
    transform: translateY(-8px); }
  .container .card .content .contentBx a {
    text-decoration: none;
    font-size: 20px;
    color: #392b58; }
  .container .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden; }
  .container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .container .card .sci {
    position: absolute;
    bottom: 70px;
    display: flex;
    padding-top: 50px; }
  .container .card .sci li {
    list-style: none;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    width: 100%;
    height: 200px;
    padding-top: 10px; }
  .container .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
    background-color: white; }
  .container .card .sci li a button {
    color: white;
    font-size: 18px;
    background-color: #392b58;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    margin-top: 25px; }
  /*Última parte*/
  .secciones ul {
    display: flex;
    flex-direction: column; }
  /*Trabajos*/
  .trabajos__trabajo {
    width: 300px;
    height: auto; }
  .trabajoRapport {
    width: 100vh; } }

/*Sobre mi */
.programa {
  width: 170px;
  height: 30px;
  background-color: #392b58;
  padding: 5px;
  color: blanchedalmond;
  animation-name: programa;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  border-radius: 4px;
  margin-left: 0%; }

@keyframes programa {
  0% {
    width: 0%; }
  100% {
    width: 90%;
    background-color: #392b58; } }

.programa50 {
  width: 170px;
  height: 30px;
  background-color: #392b58;
  padding: 5px;
  color: blanchedalmond;
  animation-name: programa50;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  border-radius: 4px;
  margin-left: 0%; }

@keyframes programa50 {
  0% {
    width: 0%; }
  100% {
    width: 45%;
    background-color: #392b58; } }

.programa70 {
  width: 170px;
  height: 30px;
  background-color: #392b58;
  padding: 5px;
  color: blanchedalmond;
  animation-name: programa70;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  border-radius: 4px;
  margin-left: 0%; }

@keyframes programa70 {
  0% {
    width: 0px; }
  100% {
    width: 70%;
    background-color: #392b58; } }

.programa80 {
  width: 170px;
  height: 30px;
  background-color: #392b58;
  padding: 5px;
  color: blanchedalmond;
  animation-name: programa80;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  border-radius: 4px;
  margin-left: 0%; }

@keyframes programa80 {
  0% {
    width: 0; }
  100% {
    width: 80%;
    background-color: #392b58; } }
