<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Sass/css/destino.css"/>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Diseñadora gráfica graduada de la Facultad de Arquitectura, Diseño y Urbanismo (FADU) de la UBA en la carrera de Diseño Gráfico. Sitio web de mi portfolio en el que encontrarás mis trabajos">
        <meta name="keywords"  content="HTML, SASS, CSS, DISEÑO, DISEÑO GRAFICO, PORTFOLIO, PHOTOSHOP, ILLUSTRATOR"> 
        <link rel="shortcut icon" href="../images/vlogo.png" />   
    <title>Variocolorida</title>
    </head>

<body>
  <header>
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu">
    <img src="../images/hamburguesa.png" alt=""> 
    </label>
    <img src="../images/logo.png" alt="logo variocolorida" class="logo"/>
    <nav class="menu">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#">Sobre mi</a></li>
            <li><a href="./trabajos.html">Trabajos</a>
                <ul>
                    <li><a href="./identidad.html">IDENTIDAD</a></li>
                    <li><a href="./ilustracion.html">ILUSTRACIÓN</a></li>
                    <li><a href="./rapport.html">RAPPORT</a></li>
                </ul></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
    </header>

<main>
<h1> Hola!</h1>
<section class="saludoBienvenida">
<p>Estudié y me recibí en la Facultad de Arquitectura, Diseño y Urbanismo (FADU) de la UBA en la carrera de Diseño Gráfico. 
    
    Me gusta trabajar de modo personalizado en cada proyecto y para cada cliente, atendiendo a las necesidades particulares de cada caso, por eso mis trabajos son bastante heterogéneos.
    
    Fundamento mi trabajo en la creatividad y en la responsabilidad de cumplir con los requerimientos solicitados en tiempo y forma e involucrándome en cada proyecto para aportar lo mejor, tanto en la imagen como en la comunicación y los conocimientos relacionados que he adquirido con mi experiencia.
</p>
</section>

<!--Habilidades-->
<section class="herramientas">
  <h2>Manejo de herramientas</h2> 
   Illustator
    <div class="programa"> 95%</div>
  Photoshop
    <div class="programa"> 95%</div>
  Indesing
    <div class="programa70"> 70%</div>
  After effects
    <div class="programa50"> 50%</div>
  Premiere
    <div class="programa50"> 50%</div>
  HTML y css
    <div class="programa70"> 70%</div>
  Ilustración
    <div class="programa80"> 80%</div>
</section>

<section>
  <div class="container">
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../images/ilustracion.jpeg">
        </div>
        <div class="contentBx">
          <a href="./ilustracion.html">ILUSTRACIÓN</a>
         </div>
      </div>
      <ul class="sci">
        <li>
          Diseño e ilustración de personajes, 
          escenografías, paisajes, bocetos solos 
          o convinados con texto.
          <a href="./ilustracion.html"> 
          <button>Ver más</button> 
          </a>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../images/r2.jpg">
        </div>
        <div class="contentBx">
          <a href="./rapport.html">RAPPORT</a>
        </div>
      </div>
      <ul class="sci">
        <li>
          Diseños de estampas, módulos  
          enfocados en potenciar la identidad  
          de cada cliente.
          <br>
          <a href="./rapport.html">
            <button>Ver más</button> 
          </a>
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../images/omnitype.jpg">
        </div>
        <div class="contentBx">
          <a href="./identidad.html">IDENTIDAD</a>
        </div>
      </div>
      <ul class="sci">
        <li>
          Diseños de estampas, módulos  
          enfocados en potenciar la identidad  
          de cada cliente.
          <br>
          <a href="./identidad.html">
            <button>Ver más</button> 
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
</main>

<section class="ultimo">
  <div class="redes">
    <div class="logo">
      <img src="../images/logo.png" alt="logo">
    </div>
    <p>Email:agus@gmail.com 
  </br>
    Telefóno: xxxxx-xxxx</p>
    <div class="socialContainer">
      <a href="https://www.instagram.com/variocolorida/">
        <img src="../images/instagramlogo.svg" alt="logo instagram" class="logos">
      </a>
      <a href="https://www.behance.net/aguspedem">
       <img src="../images/behancelogo.svg" alt="logo behance" class="logos">
      </a>
    </div>
  </div> 
  
  <div class="formulario">
  <form class="row">  
    <div class="col-9">
        <label for="validationDefault01" class="form-label"></label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Nombre" required>
      </div>
      <div class="col-9">
      <label for="inputAddress" class="form-label"></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Teléfono">
    </div>
    <div class="col-9">
      <label for="inputEmail4" class="form-label"></label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="col-9">
      <label for="inputAddress2" class="form-label"></label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Consulta">
    </div>
    <div class="col-1" style="margin-top: 10px;">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Recibir mails de novedades
        </label>
      </div>
    </div>
    <div class="col-2" style="margin-top: 10px;">
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
  </form>
  </div>
  
  <div class="secciones">
    <span>Secciones</span>
    <a href="../index.html">Inicio</a>
    <a href="sobremi.html">Sobre mi</a>
    <a href="trabajos.html">Trabajos</a>
            <a href="ilustracion.html">Ilustración</a>
            <a href="identidad.html">Identidad</a>
            <a href="rapport.html">Rapport</a>
    <a href="contacto.html">Contacto</a>
  </div> 
  </section>

</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

<footer>
    <p>
        Diseñado por Agustina Pedemonte 2021
    </p>
</footer>

</html>