//Variables
$margen: 15%;

div{
    margin-left: $margen;
    margin-right: $margen;
}

*{margin: 0;
    padding: 0;
  }
  
  
  body{
      width: 100%;
      height: 100vh;
  }
  
  .logo{
      width: 135px;
  }
    
main{
    padding-top: 10%;
}
    
 /* Menú navbar*/

 header{
    background-color: #f9f4ea;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.menu{
    display: flex;
    justify-content: center;
    text-align: center;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 128px;
    height: 128px;
}

header label:hover{
    cursor: pointer;
}

ul{
list-style: none;
display: flex;
}

li{
width: 100px;
display: inline-block;
position: relative;
font-size: 16px;
background-color: rgb(249, 244, 234);
margin: 20px;
}

li a {
text-decoration: none;
background-color: rgb(249, 244, 234);
}

a {color: #392b58!important;}

ul ul{
position: absolute;
display: none;
}


/* Contenido principal*/

.saludoBienvenida{
    display: flex;
    align-items: center;
    .yo{
        width: 40%;
    }
    }
    
.presentacion{
    width: 60%;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
}

.presentacion p{
    margin-right: 0;
    margin-left: 0;
}

.presentacion h1 {
    text-align: start;
}

h1{
    color:rgb(57, 43, 88);
    margin-left: $margen;
}

h2{
    color:rgb(147, 121, 172);
    margin-left: $margen;
}

/*Cards*/
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: white;
    margin: 20px;
    box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card .sci li a button{
    color: white;
    font-size: 18px;
    background-color: rgb(57, 43, 88);
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    margin-top: 25px;
}

/* Última parte */
.row{
    padding-bottom: 2%;
}     

.redes{
    padding-top: 30px;
}

.logos {
    width: 5vh;
}

.ultimo{
        background-color: rgb(249, 244, 234);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        margin: auto;
        padding-top: 30px;
        width: 100%;
        
}

.ultimo .redes .logo img{
    width: 150%;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.secciones{
    color: rgb(57, 43, 88);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: start;
    ul li {
         font-size: 12px;
    }
}

.formulario{
    margin-bottom: 20px;
}

.form-check-label{
    font-size: 11px;
}

.ultimo .secciones a{
    text-decoration: none; 
    font-size: 16px;
}

footer {
        text-align: center;
        background-color: rgb(57, 43, 88);
        padding-top: 8px;
        width: 100%;
}

footer p {
    font-size: 13px;
    color: bisque;
}

 /*Trabajos*/ 
.trabajos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: $margen;
    margin-right: $margen;
    padding-top: 10px;
}

/*Sobre mi*/
.herramientas{
    padding-top: 20px;
    padding-bottom: 30px;
    color: black;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

/*Texto*/
section {
         font-style: normal;
         text-align: center;
}

span {
      font-weight: bold;
}

.saludoBienvenida p {
    text-align: left;  
    padding-top: 25px;
    margin-left: $margen;  
    margin-right: $margen;
 }

@import "responsive";
@import "animaciones";