//Variables
$margen: 15%;

div{
    margin-left: $margen;
    margin-right: $margen;
}

*{margin: 0;
    padding: 0;
  }
  
  html{
      font-family: 'Montserrat', sans-serif
  }
  
  body{
      width: 100%;
      height: 100vh;
  }
  
  .logo{
      width: 135px;
  }
  
  .logos{
      width: 30px;
      height: auto;
  }
  
  
main{
    padding-top: 10%;
}

.saludoBienvenida{
    display: flex;
    align-items: center;
    .yo{
        width: 40%;
    }
    }
    
 /* Menú navbar*/

 header{
    background-color: #f9f4ea;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

.menu{
    display: flex;
    justify-content: center;
    text-align: center;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 128px;
    height: 128px;
}

header label:hover{
    cursor: pointer;
}

ul{
list-style: none;
display: flex;
}

li{
width: 100px;
display: inline-block;
position: relative;
font-size: 16px;
background-color: rgb(249, 244, 234);
margin: 20px;
}

li a {
text-decoration: none;
background-color: rgb(249, 244, 234);
}

a {color: #392b58!important;}

ul ul{
position: absolute;
display: none;
background-color: rgb(249, 244, 234);
}

/* Contenido principal*/
h1{
    color:rgb(57, 43, 88);
    margin-left: $margen;
}

h2{
    color:rgb(147, 121, 172);
    margin-left: $margen;
}

/* Última lista */
.row{
    padding-bottom: 2%;
   
}     

.redes{
    padding-top: 30px;
}

.ultimo{
        background-color: rgb(249, 244, 234);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        margin: auto;
        padding-top: 30px;
        width: 100%;
        
}

.ultimo .redes .logo img{
    width: 150%;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.sumario{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    ul li {
         font-size: 12px;
    }
}

.formulario{
    margin-bottom: 20px;
}

.form-check-label{
    font-size: 11px;
}

.ultimo .sumario a{
    text-decoration: none; 
    font-size: 16px;
}

footer {
        text-align: center;
        background-color: rgb(57, 43, 88);
        padding-top: 8px;
        width: 100%;
}

footer p {
    font-size: 13px;
    color: bisque;
}

  
.trabajos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: $margen;
    margin-right: $margen;
    padding-top: 10px;
    border-radius: 5px;
}


/*Sobre mi*/
.herramientas{
    padding-top: 20px;
    padding-bottom: 30px;
    color: black;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    /*padding-left: 5%;    
    padding-right: 5%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);*/
}


/*Texto*/
section {
         font-style: normal;
         text-align: center;
}

span {
      font-weight: bold;
}

.saludoBienvenida p {
    text-align: left;  
    margin-left: $margen;  
    margin-right: $margen;
 }

@import "responsive";
@import "animaciones";


/*Cards*/

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .sci {
	position: absolute;
	bottom: 70px;
	display: flex;
    padding-top: 50px;
}

.container .card .sci li {
	list-style: none;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0; 
    width: 100%;
    height: 200px;
    padding-top: 10px;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
    background-color: white;   
}

.container .card .sci li a {
	color: white;
	font-size: 20px;
    background-color: rgb(57, 43, 88);
    border-radius: 5px;
}

.container .card ul .sci li span {
	background-color: yellowgreen;
}
 

