/*Css solo reconoce bloques de comentarios*/
//Comentario de linea

//Variables
$margen: 15%;

div{
    margin-left: $margen;
    margin-right: $margen;
}

*{margin: 0;
    padding: 0;
  }
  
  html{
      font-family: 'Montserrat', sans-serif
  }
  
  body{
      width: 100%;
      height: 100vh;
  }
  
  .logo{
      width: 135px;
  }
  
  .logos{
      width: 30px;
      height: auto;

  }

  header{
      background-color: rgb(249, 244, 234);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
  }
  .saludoBienvenida{
    display: flex;
    align-items: center;
    .yo{
        width: 50%;
    }
    }
    
 /* Menú con submenú*/
.menu{
    display: flex;
    flex-flow: row;
    justify-content: right;
    margin-right: $margen;
    height: 40px;
    text-align: center;
}

ul{
list-style: none;
}

li{
width: 100px;
display: inline-block;
position: relative;
font-size: 16px;
background-color: rgb(249, 244, 234);
margin: 20px;
}

li a {
text-decoration: none;
background-color: rgb(249, 244, 234);
}

ul ul{
position: absolute;
display: none;
background-color: rgb(249, 244, 234);
}

ul ul li a{
display: block;
width: 100px;
text-align: left;
}

ul{
    padding-left: 5px!important;
}

a {color: rgb(57, 43, 88)!important;}

ul li:hover ul{
display:block;
color: rgb(147, 121, 172);
background-color: rgb(249, 244, 234);
}

/* Bienvenida*/
h1{
    color:rgb(57, 43, 88);
    padding-top: 10px;
    margin-left: $margen;
}

/* Contenido principal*/
main{
    padding-top: 10%;
}

h2{
    color:rgb(147, 121, 172);
    margin-left: $margen;
}

.box{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 30px;
   margin-left: $margen;
   margin-right: $margen;
   padding-bottom: 2%;

.box1{
    background-color: rgb(57, 43, 88);
    padding: 5px 30px 130px 30px;
    color: white; 
    font-size: 14px;
}

.box2{
    background-color: rgb(57, 43, 88);
    padding: 5px 30px 130px 30px;
    color: white;
    font-size: 14px;
}

.box3{
    background-color: rgb(57, 43, 88);
    padding: 5px 30px 130px 30px;
    color: white;
    font-size: 14px;
}
}   

/* Última lista */
.row{
    padding-bottom: 2%;
   
}     

.redes{
    padding-top: 30px;
}

.ultimo{
        background-color: rgb(249, 244, 234);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
}

.sumario{
    padding-top: 50px;
}

.form-check-label{
    font-size: 11px;
}


footer {
        text-align: center;
        background-color: rgb(57, 43, 88);
        padding-top: 8px;
        width: 100%;
}

footer p {
    font-size: 13px;
    color: bisque;
}

  
.trabajos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: $margen;
    margin-right: $margen;
    padding-top: 10px;
}


/*Sobre mi*/
.herramientas{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
    color: black;
    text-align: left;
}

/*Texto*/
section {
         font-style: normal;
         text-align: center;
}

span {
      font-weight: bold;
}

.saludoBienvenida p {
    text-align: left;  
    margin-left: $margen;  
    margin-right: $margen;
 }

@import "responsive";
@import "animaciones";


 

