
/*MEDIA QUERIES*/
/*Variables*/



/*Mobile*/
@media only screen and (max-width:767px){
    *{margin: 0;
        padding: 0;
      }
      
    .logo{
        margin-left: 10%;
    }
    
    header{
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0;
    }

    .menu{
        width: 100%;
        height: 100px;
        position: absolute;
        margin-left: -150%;
    }

    #btn-menu:checked ~ .menu{
        margin-left: 0%;
        margin-top: 40%;
    }

    ul {
        flex-direction: column;
    }

    li{
        width: 100px;
        display: inline-block;
        position: relative;
        font-size: 16px;
        background-color: rgb(249, 244, 234);
        margin: 10px;
        }

    header label{
        display: block;
    }

    ul{
        background-color: rgb(249, 244, 234);
        width: 100%;
        height: 180px;
    }
    
    main{
        padding-top: 25%;
    }

    .saludoBienvenida{
        margin-top: 15px;
        display: inline-block;
        width: 100%;
    }

    .saludoBienvenida p{
        font-size: 10px;
    }

    .yo{
        width: 200px;
        height: auto;
    }

    h2{
       font-size: 20px;
    }

    .box{
        display: inline-block;
        padding-top: 20px; 
        width: 300px;      
    }

    .box1{
        font-size: 8px;
    }
    .box2{
        font-size: 8px;
    }
    .box3{
        font-size: 8px;
    }

    .trabajos{
        padding-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .trabajos__trabajo{
        width: 125%;
    }

    .ultimo{
        display: inline-block; 
      }    
    
    .sumario{
        display: flex;
    }  

}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    main{
        padding-top: 15%;
    }

    header{
        background-color: rgb(249, 244, 234);
        width: 100%;
        }
    
    ul{
        display: flex;
        flex-wrap: nowrap;
        margin-right: $margen;        
    }    
    
    .logo{
        margin-left: 15%;
    }
    
    .saludoBienvenida{
        font-size: 10px;
        display: inline-block;
    }

    .box{
        margin-left: 15%;
        margin-right: 15%;
        font-size: 10px;
        height: 150px;
    }

    .box1 {
        background-color: rgb(57, 43, 88);
        width: 170px;
        color: white;
        font-size: 8px;
    }  

    .box2 {
        background-color: rgb(57, 43, 88);
        width: 170px;
        color: white;
        font-size: 8px;
    }  

    .box3 {
        background-color: rgb(57, 43, 88);
        width: 170px;
        color: white;
        font-size: 8px;
    }  

    main{
        padding-bottom: 70px;
    }

    .trabajos__trabajo{
        width: 125%;
    }

    .row {
          font-size: 10px;
    }

    .herramientas{
        padding-top: 30px;
    }

    .ultimo{
        display: inline-block; 
        width: 100%;
        background-color: rgb(249, 244, 234);
      }    
}    

/*Desktop*/
@media only screen and (min-width: 1024px){
    li a:hover{
    color:rgb(57, 43, 88);
    font-size: 15px;
}

.box{
    margin-left: 15%;
    margin-right: 15%;
}

.box1:hover {
    background-color: rgb(147, 121, 172); 
 }

 .box2:hover {
    background-color: rgb(147, 121, 172); 
 }

 .box3:hover {
    background-color: rgb(147, 121, 172); 
 }

 .trabajos__trabajo{
    width: 300px;
    height: auto;
}

header{
    background-color: rgb(249, 244, 234);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

ul ul li a{
    display: block;
    width: 100px;
    text-align: left;
    }
    
ul{
    padding-left: 5px!important;
    }
    
ul li:hover ul{
    display:block;
    color: rgb(147, 121, 172);
    background-color: rgb(249, 244, 234);
 
}
}


